@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-heading {
  @apply text-[50px] text-[#3a1a1adb] text-center mb-5 font-[Monotype_Corsiva];
}

.container {
  @apply bg-cover bg-center min-h-screen w-full p-10 z-[-1];
  background-image: url('https://i.pinimg.com/1200x/c5/92/de/c592de3f71b7807d9e81d3b5bd4ab024.jpg');
}

.category-title {
  @apply text-[34px] mt-[30px] text-[#331a0b] font-[Segoe_Script];
}

.menu-grid {
  @apply grid grid-cols-2 gap-5;
}

.menu-card {
  @apply flex items-center gap-[15px] bg-[#fff8f0] rounded-lg p-[15px] shadow-md w-full max-w-[500px] mb-5 text-center;
}

.menu-card h4 {
  @apply m-0 text-[18px] text-[#333];
}

.menu-card p {
  @apply my-[5px] font-bold;
}

.button-wrapper {
  @apply mt-[10px] flex justify-start;
}

.btn {
  @apply bg-[#5e4434] text-[rgb(80,40,24)] border-none px-4 py-2 rounded-md font-bold text-[14px] cursor-pointer transition duration-300 ease-in-out shadow-md;
}

.btn:hover {
  @apply bg-[#ff914d] text-[rgb(98,47,22)] scale-[1.05];
}

.btn:active {
  @apply bg-[#cf7d4a];
}

.menu-image {
  @apply w-[120px] h-[120px] object-cover rounded-lg;
}

.menu-details {
  @apply flex-1;
}
